<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <runtime>
    <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="StepNCRest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      </sectionGroup>
    </configSections>
    <applicationSettings>
      <StepNCRest.Properties.Settings>
        <setting name="projectPath" serializeAs="String">
          <value>C:\Users\seve\Documents\Visual Studio 2015\Projects\StepNCRest\data</value>
        </setting>
      </StepNCRest.Properties.Settings>
    </applicationSettings>
  </runtime>
</configuration>